body{
    margin: 20px 70px;
}

/*Page 1*/
    /*Header*/

.top-p1,
.top-p2,
.top-p3{
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: black;
    padding: 5px 20px;
}
.top-p1 h1{
    color: white;
}
.top-p1 ul,
.top-p2 ul,
.top-p3 ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.top-p1 li,
.top-p2 li,
.top-p3 li{
    padding: 5px;
    margin: 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color: white;
}
.top-p1 a,
.welcome a,
.top-p2 a,
.top-p3 a,{
    text-decoration: none;
    color: white;
}
.top-p1 a,
.welcome a,
.top-p2 a,
.top-p3 a:visited{
    text-decoration: none; color:white;
}
h1,
h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}

    /*Main content page 1*/
.question-p1{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
}
.question-p1 h2{
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    position: relative;
    left: 50px;
    margin-right: 0px;
}
.question-p1 img{
    position: relative;
    left: 70px;
    margin-left: 0px;
    height: 450px;
}
.welcome{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 50px;
}
.welcome button{
    background-color: red;
    border: transparent;
    border-radius: 1cm;
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

/*Page 2*/
.main-p2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-p2--s1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-p2--s1 img{
    height: 400px;
}
.main-p2--s1 h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    width: 400px;
}
fieldset{
    width: fit-content;
    border-radius: 1cm;
    background-color: black;
}
.name,
.email,
.question{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color: white;
}
.checkbox,
.button{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    color: white;
}
.subscribeNews{
    display: flex;
    align-items: center;
}
.button button{
    background-color: red;
    color: white;
    padding: 8px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    border-radius: 0.3cm;
}
/*PAGE 3*/
.main-p3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-p3--s2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-p3--s1,
.main-p3-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-p3 h1{
    font-size: 50px;
}
.main-p3 img{
    height: 300px;
    width: fit-content;
}
.main-p3-div p{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    width: 500px;
}
.main-p3-div a{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}
.main-p3-div a:visited{
    text-decoration: none;
    color: black;
}
